*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{
  text-decoration: none;
  color: inherit;
}
body{
    background-color: #000;
}
header {
  width: 1920px;
  height: 81px;
}

h1 {
  position: absolute;
  top: 20px;
  left: 335px;
}

#main {
  text-align: center;
}

nav{
    position: absolute;
    top: 20px;
    left: 535px;
}

.lnb {
  color: white;
  font-size: 20px;
  display: flex;
  left: 50%;
  top: 50%;
  width: 1000px;
  justify-content: space-evenly;
  text-align: center;
}

.lnb li{
    margin: 5px;
    padding: 10px;
}

.lnb2 > li{
  text-align: left;
}

h2 {
  color: white;
  text-align: center;
  font-size: 35px;
  padding: 59px;
}

.product {
  display: flex;
  margin-left: 441px;
  justify-content: space-between;
  width: 55%;
  text-align: center;
}

.news {
  padding-top: 59px;
  padding-left: 151px;
}